.Transactions {
    margin-bottom: 0.5rem;
    background: #e0feff;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding:10px 20px;
    cursor: pointer;
    border-radius: 10px;
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.3s ease;
    color: black;

  }
  .Transactions:hover{
    opacity:1;
    background-color: aqua;
    
  }
  